<div class="footer-content text-center !pt-16 text-sm">
  <hr />
  <p class="pt-6">© 2016 - {{ currentYear }} kirjai</p>
  <div class="flex justify-center mt-4" style="color: var(--secondaryDark)">
    <a href="{{ site.url }}/feed.xml" title="RSS feed">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24.9 24.9" fill="currentColor"><path d="M3.7 17.5a3.7 3.7 0 100 7.4 3.7 3.7 0 000-7.4z"/><path d="M.4 8.1c-.2 0-.4.2-.4.4v4.7c0 .2.2.4.4.4 6 0 10.9 4.9 10.9 11 0 .1.2.3.4.3h4.7c.2 0 .4-.2.4-.4v-.1C16.7 15.4 9.4 8.1.4 8.1z"/><path d="M24.9 24.4C24.9 10.9 13.9 0 .4 0 .2 0 0 .2 0 .4v4.8c0 .2.2.4.4.4a19 19 0 0118.9 19c0 .1.2.3.4.3h4.8c.2 0 .4-.2.4-.4v-.1z"/></svg>
    </a>
  </div>
</div>